@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
   
}
.constant-gradient{
  z-index: -1;
  position: absolute;
  width: 847px;
height: 695px;
top: 40%;
left: 25%;
background: linear-gradient(232deg, #FF0101 0.03%, rgba(0, 235, 38, 0.55) 9.03%, #000AF6 100%);
filter: blur(116.44999694824219px);
}
.dtext{
 text-transform: uppercase;
 background: linear-gradient(0deg, rgba(128, 255, 0, 0.00) 0%, #80FF00 80.52%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.dtext:hover{
  filter: blur(0px);
  
}
.love{
  filter: blur(2px);
  cursor: pointer;

}
.love:hover{
  filter: blur(0px);
}
@media screen and (max-width: 768px) {
  .constant-gradient {
    display: none;
      
  }
}
  

